/*

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value)

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
@import url('url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');');

body {
  font-family: "Nunito", 'sans serif';
}

header {
  height: 100px;
  width: 100%;
  background: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header #left {
  font-size: 30px;
  
  justify-content: flex-start;
  color: rgb(42, 171, 226);
}
.bold {
  font-weight: 500;
}
header #right {
  font-size: 14px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
header #right p {
  color: white;
  width: 30%;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  justify-content: flex-start;
  margin: 100px;
  width:200%;
}

#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
#images img {
  margin: 30px;
  width: 25%;
  height: auto;
}


.right {
  justify-content: flex-end;
  width: 50%;
  flex-direction: column;
  padding:50px;
}
.right #profile {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height:300px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;

}


#profile img {
  width:50%;
}

#profile p {
  font-size:2em;
}

footer {
  height: 100px;
  background: rgb(42, 171, 226);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: rgb(37, 37, 37);
  font-size: 1.25em;
}

h2 {
  font-weight: bolder;
  font-size:1.2em;
  padding: 20px 0px;
}

#popular-articles {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:300px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
}

#popular-articles p {
  font-size:1.5em;
  margin:10px;
  
}
#space{
  height:100px;
}
